{% extends 'base.html' %}

{% block title %} Тестовая выборка {% endblock %}

{% block content %}

<form action = "{% url 'vkfsys:prediction' ex_id %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <h4>Выберите тестовую выборку:</h4>
    <ol>
    {% if test_samples %}
        {% for t in test_samples %}
        <li>
            <div>
                 <span>
                    <input type="radio" name="table_test" value={{t.fileSample_table}}>  {{t.fileSample_table}} -  
                     Тестовая выборка из файла '{{t.fileSample_name}}' с целевым свойством '{{t.fileSample_attr}}'  
                        
                </span>
            </div>
        </li>
        {% endfor %}         
    {% else %}
        Создайте сначала тестовую выборку в приложении encoder!
    {% endif %}
    </ol>
    <br> <br> 
    <button type="submit">ОК</button>
</form>
<form action = "{% url 'vkfsys:ct_return' ex_id %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <button type="submit">Назад</button>
</form>



{% endblock %}