{% extends 'base.html' %}

{% block title %} Тестовая выборка {% endblock %}

{% block content %}

{%  include 'accounts/navbar.html' %}

<br>
<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <form action = "{% url 'vkfsys:prediction' ex_id %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
            <div class="card text-center">
                <div class="card-header" id="card-header">
                    ВЫБЕРИТЕ ТЕСТОВУЮ ВЫБОРКУ
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    {% if test_samples %}
                    <ul style="text-align: left; padding-left: 20px;" class="list-group list-group-flush">
                        {% for t in test_samples %}
                        <li class="list-group-item  ">
                            <span >  
                                <input class="form-check-input" type="radio" name="table_test" value={{t.fileSample_table}}>  
                                <label class="form-check-label">
                                    {{t.fileSample_table}}
                                </label>
                                <br>
                                <small>Тестовая выборка из файла '{{t.fileSample_name}}' с целевым свойством '{{t.fileSample_attr}}'</small>
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p class="card-text">
                        Создайте сначала тестовую выборку в приложении encoder!
                    </p>
                    {% endif %}
                
                    
                </div>
                <div class="card-footer text-muted" id="card-footer">
                    <a class="btn btn-outline-light" href="{% url 'vkfsys:ct_return' ex_id %}">Назад</a>
                    <button class="btn btn-outline-light" type="submit">ОК
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>




{% endblock %}