{% extends 'base.html' %}

{% block title %}  Добавить гипотезы {% endblock %}

{% block content %}
{%  include 'accounts/navbar.html' %}

<br>
<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <form action = "{% url 'vkfsys:add_hyps' ex_id %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="card text-center">
                <div class="card-header" id="card-header">
                     ДОБАВИТЬ ГИПОТЕЗЫ
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <div class="form-group">
                        <input class="form-control " name="num_hyps" type="number" placeholder="Количество гипотез">
                        </div>
                        <div class="form-group">
                        <input class="form-control " name="num_thr" type="number" placeholder="Количество потоков">
                        </div>
                </div>
                <div class="card-footer text-muted" id="card-footer">
                    <a class="btn btn-outline-light" href="{% url 'vkfsys:ct_return' ex_id %}">Отмена</a>
                    <button class="btn btn-outline-light" type="submit">ОК
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>

{% endblock %}