{% extends 'base.html' %}

{% block title %} Индукция {% endblock %}

{% block content %}
<script>
    let samps = document.getElementsByName('table_samp');
    let encs = document.getElementsByName('table_enc');
   
    function clear1() { //функция которая проверяет, чтобы можно было нажать только нужные радио кнопки у своего encoder
        let our_elem = event.currentTarget;
        our_div = our_elem.closest('div');
        our_input_for_samps = our_div.querySelectorAll('span > input');
        for(let i=0; i<samps.length; i++)
            if (samps[i].checked) {
                samps[i].checked = false;
            }
        let sign = false;
        for(let i=0; i<samps.length; i++){
            for(let j=0; j<our_input_for_samps.length; j++){
                if(samps[i] == our_input_for_samps[j]){
                    samps[i].disabled = false;
                    sign = true;
                }
            }
            if (!sign){
                samps[i].disabled = true;
            }
            sign = false;
            
        }
        
                     
    }
</script>

<form action = "{% url 'vkfsys:create_table' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <h4>Выберите таблицу с кодировщиком и обучающую выборку:</h4>
    <ol>
    {% if dict_of_filesFor %}
        {% for key, value in dict_of_filesFor.items %}
        <li>
            <div>
                <label><p>Кодировщик от '{{key.file_name}}': 
                    <input type="radio" onclick ="clear1();" name="table_enc" value={{key.file_tableEncoder}}> {{key.file_tableEncoder}}  
                </p></label>
                {% if value %}
                    {% for s in value %}
                    <br>
                        <span>Обучающая выборка из файла '{{s.fileSample_name}}' с целевым свойством '{{s.fileSample_attr}}':  
                            <input type="radio" name="table_samp" value={{s.fileSample_table}}>  {{s.fileSample_table}}  
                        </span>
                    {% endfor %}
                {% else %}
                    <p>Обучающих выборок с этим кодировщиком нет. Создайте в приложении encoder.</p>
                {% endif %}
            </div>
        </li>
        {% endfor %}         
    {% else %}
        Создайте сначала таблицу для кодировщика в приложении encoder!
    {% endif %}
    </ol>
    <h4>Введите имя таблицы с гипотезами:</h4>
    <input type="text" name="table_hyps" > 
    <h4>Введите количество гипотез:</h4>
    <input type="number" name="num_hyps" > 
    <h4>Введите количество потоков:</h4>
    <input type="number" name="num_thr" >
    <br> <br> 
    <button type="submit">ОК</button>
</form>
<form action = "{% url 'vkfsys:index' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <button type="submit">На главную</button>
</form>



{% endblock %}