{% extends 'base.html' %}

{% block title %} Таблица {{table_name}} {% endblock %}

{% block content %}

<form action="{% url 'vkfsys:ct_return' ex.id %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <button type="submit">Назад</button>
</form> 
    <ol>
        {% if dict_of_hyps %}
            {% for key, value in dict_of_hyps.items %}
            <li>
                <div>
                    {% if value %}
                        {% for s in value %}
                            {{s}}
                        {% endfor %}
                    {% endif %}
                </div>
            </li>
            {% endfor %}         
        {% else %}
             Гипотез нет!
        {% endif %}
        </ol>

{% endblock %}