{% extends 'base.html' %}

{% block title %} {{fileFor.file_name}} {% endblock %}

{% block content %}
{%  include 'accounts/navbar.html' %}

<br>
<div class="container-fluid">
    <div class="d-flex justify-content-center">
            <div class="card text-center">
                <div class="card-header" id="card-header">
                     ФАЙЛ {{fileFor.file_name}}
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    

                    {% if fileFor.file_tableEncoder %}
                    
                    <table class="table table-bordered">
                        
                        <tbody>
                            
                              <tr>
                                <td>Таблица-кодировщик</td>
                                <td>{{fileFor.file_tableEncoder}}</td>
                                <td>
                                    <a class="btn btn-light" href="{% url 'encoder:show_table' fileFor.id fileFor.file_tableEncoder 'files' %}">Посмотреть</a>
                                </td>
                              </tr>
                              <tr>
                                <td>Таблица с отношениями</td>
                                <td>{{fileFor.file_tableOrderings}}</td>
                                <td>
                                    <a class="btn btn-light" href="{% url 'encoder:show_table' fileFor.id fileFor.file_tableOrderings 'files' %}">Посмотреть</a>
                                </td>
                              </tr>
                        </tbody>
                    </table>
                    <form action = "{% url 'encoder:fill_names' fileFor.id %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <button class="btn btn-light btn-block" type="submit">Сформировать новые таблицы</button>
                    </form>
                    <a class="btn btn-light" href="{% url 'encoder:create_file' fileFor.id 'xml' %}">Сформировать из таблиц XML</a>
                    <a class="btn btn-light" href="{% url 'encoder:create_file' fileFor.id 'json' %}">Сформировать из таблиц JSON</a>
                    {% else %}
                    <form action = "{% url 'encoder:fill_names' fileFor.id %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        
                        <button class="btn btn-light btn-block" type="submit">Сформировать таблицы</button>
                        <br>
                        <small>Для файла '{{fileFor.file_name}}' таблиц пока нет</small>
                    </form>
                    {% endif %}
                </div>
                <div class="card-footer text-muted" id="card-footer">
                    <a class="btn btn-outline-light" href="{% url 'encoder:list_filesFor' %}">К списку файлов</a>
                </div>
            </div>  
    </div>

</div>    


{% endblock %}