{% extends 'base.html' %}

{% block title %} {{fileFor.file_name}} {% endblock %}

{% block content %}

<form action = "{% url 'encoder:list_filesFor' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <p><button type="submit">Вернуться к списку файлов</button></p>
</form>

<h2>{{fileFor.file_name}}</h2>
<p>{{fileFor.file_path}}</p>
<form action = "{% url 'encoder:fill_names' fileFor.id %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <button type="submit">СФОРМИРОВАТЬ НОВЫЕ ТАБЛИЦЫ</button>
</form>
<br>
<br>
{% if fileFor.file_tableEncoder %}
       <span>
            <h2>{{fileFor.file_tableEncoder}}</h2>
            <br>
            <form action = "{% url 'encoder:show_table' fileFor.id fileFor.file_tableEncoder 'files' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <button type="submit">Показать содержимое таблицы {{fileFor.file_tableEncoder}}</button>
            </form>
        </span>
        <span>
            <h2>{{fileFor.file_tableOrderings}}</h2>
            <br>
            <form action = "{% url 'encoder:show_table' fileFor.id fileFor.file_tableOrderings 'files' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <button type="submit">Показать содержимое таблицы {{fileFor.file_tableOrderings}}</button>
            </form>
        </span>
        <span>
            <br>
            <form action = "{% url 'encoder:create_file' fileFor.id 'xml' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <button type="submit">Сформировать из таблиц XML</button>
            </form>
            <form action = "{% url 'encoder:create_file' fileFor.id 'json' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <button type="submit">Сформировать из таблиц JSON</button>
            </form>
        </span>
{% else %}
    Таблицы еще не сформированы
{% endif %}



{% endblock %}