{% extends 'base.html' %}

{% block title %} Выбор имен {% endblock %}

{% block content %}

    <form action = "{% url 'encoder:execute' fileFor.id %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <p>Введите имя для таблицы с кодировщиком:</p>
        <p><input type="text" name="tablename_encoder"></p>
        <p>Предыдущее имя для таблицы с кодировщиком: {{fileFor.file_tableEncoder}}</p>
        <p>Введите имя для таблицы с решётками:</p>
        <p><input type="text" name="tablename_orderings"></p>
        <p>Предыдущее имя для таблицы с решётками: {{fileFor.file_tableOrderings}}</p>
        <button type="submit">OK</button>
    </form>

{% endblock %}